Fullsoap/Sopacliente/xml-resources/web-service-references/Service/wsdl/localhost_8066/WebApplication2/Service.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://uv.enoc.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://uv.enoc.org/">

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:element name="suma" type="tns:suma" />

<xs:element name="sumaResponse" type="tns:sumaResponse" />

<xs:complexType name="suma">
<xs:sequence>
<xs:element name="a" type="xs:float" />
<xs:element name="b" type="xs:float" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="sumaResponse">
<xs:sequence>
<xs:element name="return" type="xs:float" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>